*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    background-color: silver;
	color: #222;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#container {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightblue;
    border: 1px solid dodgerblue;
    padding: 30px;
}
